.gist-script {
  pre {
    max-height: 300px;
  }
  .gist-script-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
      font-weight: 600;
      margin: 10px 0;
    }
  }
}
