.react-challenge {
  .gists-container,
  .gist-container {
    margin: 20px 0;
  }
  .select-page-buttons {
    display: flex;
    justify-content: space-between;
  }
  small {
    display: block;
    text-align: center;
  }
}
