@import url('https://fonts.googleapis.com/css?family=Crete+Round|Quicksand:300|Open+Sans');

// FONT - FAMILIES

$font-family-base: 'proxima-nova', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// FONT-SIZES

$font-size-base: 14px;
$font-size-xl: 24px;

// GENERAL COLORS

$primary-color: #372C30;

// FONT-COLORS

$black: #000;
$white: #FFF;
