@import url('https://fonts.googleapis.com/css?family=Crete+Round|Quicksand:300|Open+Sans');

// GENERAL COLORS

$primary-color: #372C30;

// FONT-COLORS

$black: #000;
$white: #FFF;

// FONT - FAMILIES

$font-family-base: 'proxima-nova', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// FONT-SIZES

$font-size-xxl: 24px;
$font-size-xl: 20px;
$font-size-l: 16px;
$font-size-base: 14px;
$font-size-sm: 12px;

// LOGO SIZES

$logo-size-base: 40px;
$logo-size-small: 30px;

// HEADING SIZE

$h2-size-base: 30px;
$h2-size-medium: 26px;
$h2-size-small: 22px;


// BREAK POINTS

$mobile: 480px;
$tablet: 768px;
